button:hover::after{
    content: "clickme!";
    background-color: #1572b6;
    color: white;
    padding: 5px;
    position: fixed;
    top:30px;
    left:50%;
    transform: translateX(-50%);
    border-radius: 5px;
    width: 80px;
    
}